<% include ../header.ejs %>

    <% include ./sidebar.ejs %>

    <div class="col-sm-10">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <table class="table table-bordered table-hover">
            <tr>
                <th>주문자(이메일)</th>
                <th>결제상태</th>
                <th>금액</th>
                <th>주소</th>
                <th>주문일</th>
            </tr>
            <% checkouts.forEach( function(checkout){ %>
            <tr>
                <td>
                    <a href="/admin/order/edit/<%=checkout.id%>">
                        <%= checkout.buyer_name %> ( <%= checkout.buyer_email %> )
                    </a>
                </td>
                <td><%= checkout.status %></td>
                <td><%= checkout.numberFormat %> 원</td>
                <td><%= checkout.buyer_addr %></td>
                <td>
                    <%= checkout.dateFormat( checkout.createdAt ) %>
                </td>
            </tr>
            <%});%>
        </table>
    </div>
    

<% include ../footer.ejs %>